*
body, html{ 
	margin: 0;
	padding: 0;
    background-color: #F8E9A5;
 }


header 
 { 
    height: 250px; 
    width: 100%; 
}

hr{
    border: 1px solid #4ca1af; 
    width: 80%;
}

.menu 
{  
    margin-top: 30px; 
    margin-bottom: 0;
    text-align: center;
    vertical-align: center;
    z-index: 5;
}
    

.menu li
{
    display: inline-block ; 
}

.menu li a
{
    color: #000; 
    text-decoration: none; 
    padding: 10px 20px; 
    margin-top: 10px; 
    font-family: "Courier New", Courier, monospace; 
    font-weight: bold;
    font-size: 18px; 
}



.menu li a:hover {
    border: 1px solid white; 
}


.title {
    display: block;
    vertical-align: center;
    width: 600px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
    padding: 300px, 0px, 0px, 0px;
    align-content: center;
    /*z-index: 0;*/
    
}



h1 {
     color: #000;
    font-family: "Courier New", Courier, monospace; 
    font-weight: normal;
    margin: 0px 0px; 
    font-size: 60px; 
    text-align: center;
}

h2{
    color: #777;
    padding-top: 10px; 
    padding-bottom: 10px; 
    font-family: "Kalam";
    margin: 0px 0px; 
    font-size: 15px; 
    text-align: center; 
    font-style: oblique;
}

footer{
    text-align: center;
    background: #F8E9A5;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: #000;
    height: 40px;
    vertical-align:middle;
    font-size: 12px;
    font-family: 'Arial', sans-serif; 
}

footer p {
    display: inline-block;
    vertical-align: middle;
    text-align: middle;
}

/*HOMEPAGE STYLING*/
.container {
  position: relative;
  width: 100%;
  height: 75%;
  padding-bottom: 75px;
}

.text-center {
  position: absolute;
  top: 50%;
  left: 45%;
  color: black;
  font-family: "system-ui";
  font-size: 23px;
  letter-spacing: 5px;
}

.text-center:hover {
    color:white;
}

.mentions {
    width: 85%;
    height: 300px;
    background-color: #FFEFD5;
    margin: 0 auto;
    text-align: center;
}

.row {
    display: flex;
}

.logo {
    margin: 0 auto;
    margin-top: 7%;
}

.comment {
    padding-top: 50px;
    font-family: "system-ui";
}







































